
.fa {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.header_banner {
    min-width: 100%;
    height: 150px;
    position: relative;
    object-fit: cover;
}

.phone {
    font-size: 25px;
    color: #dfeff1;
    font-weight: bold;
}

.nav-link {
    color: #e8d0d0;
    font-size: 17px;
}

.dropdown-item {
    color: black;
}

.navbar-toggler {
    flex: 1 1 auto;
    margin: 3px;
    padding: 1px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    background-size: 200% auto;
    color: #e8d0d0;
    font-size: 17px;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 2px #eee;
    border-radius: 10px;
}

.main-nav-item {
    flex: 1 1 auto;
    margin: 3px;
    padding: 1px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 2px #eee;
    border-radius: 10px;
}