.table-container{
	border: 3px solid orange;
}
.schedule-text{
    color: green;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    padding-bottom: 4px;
}
.drop-list{
    padding: 10px 15px;
}
.banner {
    width: 100%;
    position: relative;
    object-fit: cover;
    padding: 30px;
}

div.container {
	min-width: 980px;
	margin: 0 auto;
}