.collection {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.poster {
    width: 400px;
    object-fit: cover;
}

.ads-container {
    height: 150px;
}

.ads {
    min-width: 100%;
    height: 120px;
    position: relative;
    object-fit: contain;
}

.box {
    position: relative;
    overflow: hidden;
    height: 300px;
    justify-content: center;
}

.box img {
    top: 50%;
    object-fit: cover;
    margin: 0 0 0 0;
}

.banner {
    width: 80%;
    position: relative;
    object-fit: cover;
    padding: 30px;
}

.mini-menu-bar {
    padding: 5px;
    justify-content: center;
    position: relative;
    border: 4px dotted #eadc1e;
}

.mini-menu {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 18px;
    font-weight: bold;
}

span {
    margin-top: 10px;
    display: block;
}

#container {
    grid-template-rows: 1fr 1fr 3fr 3fr 1fr;
    width: 95%;
    height: 100%;
    background-color: rgba(239, 235, 233, 0.8);
    margin: auto;
    border-radius: 10px;
    align-content: center;
    text-align: center;
}

#header {
    height: 30px;
    grid-row: 1;
    text-align: center;
}

#screen {
    font-size: x-large;
    padding: 20px;
    height: 60px;
    grid-row: 2;
    text-align: center;
    justify-content: center;
    width: 500px;
    border-radius: 0 0 50% 50%;
    border: 2px solid black;
    background-color: white;
    margin: auto auto 50px;
}

section > button {
    height: 40px;
    width: 40px;
    margin: 9px;
}

.chair {
    transition: all 0.2s ease-in-out;
    color: white;
background-color: #f8723c;
}

.chair:hover {
    background-color: #13ecb7;
    color: black;
    cursor: pointer;
    transform: scale(1.2);
}

#footer {
    display: flex;
    height: 50px;
    align-content: center;
}

#total {
    color: white;
    align-self: center;
    justify-self: center;
}

.footBtn {
    text-align: center;
    justify-self: center;
    margin: auto;
    width: 200px;
    height: 30px;
}

.buyBtn {
    background-color: #77ade0;
    color: black;
    font-weight: bold;
}

.bookingBtn {
    background-color: #4cf1e3;
    color: black;
    font-weight: bold;
}

