.poster {
    width: 400px;
    object-fit: cover;
}

.ads-container {
    height: 150px;
}

.ads {
    min-width: 100%;
    height: 120px;
    position: relative;
    object-fit: contain;
}
.box {
   position: relative;
   overflow:hidden;
    height: 300px;
    justify-content: center;
}

.box img {
    top:50%;
    object-fit: cover;
    margin: -330px 0 0 -250px;
}