<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'cinema_site/assets/css/base.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'cinema_site/assets/css/footer-dark.css' %}?{% now 'U' %}">
    <link rel="apple-touch-icon" sizes="57x57"
          href="{% static 'cinema_site/assets/img/favicon' %}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"
          href="{% static 'cinema_site/assets/img/favicon' %}/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="{% static 'cinema_site/assets/img/favicon' %}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="{% static 'cinema_site/assets/img/favicon' %}/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="{% static 'cinema_site/assets/img/favicon' %}/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="{% static 'cinema_site/assets/img/favicon' %}/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="{% static 'cinema_site/assets/img/favicon' %}/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="{% static 'cinema_site/assets/img/favicon' %}/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'cinema_site/assets/img/favicon' %}/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'cinema_site/assets/img/favicon' %}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'cinema_site/assets/img/favicon' %}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{% static 'cinema_site/assets/img/favicon' %}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'cinema_site/assets/img/favicon' %}/favicon-16x16.png">
    <link rel="manifest" href="{% static 'cinema_site/assets/img/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body id="body">

<div id="top_banners" class="carousel slide" data-ride="carousel">
    <div id="carousel-inner" class="carousel-inner">
    </div>
</div>

<div class="container">
    {% include "cinema_site/elements/navbar.html" %}
</div>

{% block content %} {% endblock %}

<div class="wrapper flex-grow-1"></div>

<footer>{% include "cinema_site/elements/footer.html" %}</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $.ajax({
        type: 'get',
        url: '{% url 'cinema_site:api_banners' %}',
        enctype: '',
        data: '',
        success: function (data) {
            console.log(data)
            var top_banners = document.getElementById('carousel-inner')
            var carousel_status = data['carousel_status']
            var banner_url = data['banner']
            var body = document.getElementById('body')
            var bg_format = data['bg_format']

            if (bg_format === 'photo_bg') {
                body.style="background:url(" + banner_url + ")"
            } else {
                body.style="background-color: lightblue;"
            }

            if (carousel_status === true) {
                if (data['images'].length >= 1) {
                    for (let i = 0; i < data['images'].length; i++) {
                        let carousel_element = document.createElement('div')
                        carousel_element.setAttribute("class", "carousel-item");
                        top_banners.appendChild(carousel_element)

                        let img = document.createElement("img");
                        carousel_element.appendChild(img)
                        img.src = '/media/' + data['images'][i];
                        img.alt = 'error';
                        img.setAttribute("class", "d-block w-100 header_banner")
                        if (i === 0) {
                            carousel_element.setAttribute("class", "carousel-item active")
                        }
                    }
                }
            }
        },
        error: function (response) {
            alert(response)
        },
        cache: false,
        contentType: false,
        processData: false,
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<!-- overlayScrollbars -->
<script src="{% static 'admin_lte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
</body>
</html>
