{% extends "cinema_site/elements/base.html" %}
{% load static %}

{% block title %}
    Описание фильма
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cinema_site/assets/css/cinema_description.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid">
    <div class="row">

    <div class="col-12">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" style="padding-right:0; padding-left:15px;">
            <div class="top-box">
                <img src="{{ cinema.banner.url }}" alt="">
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
    <div class="col-1">
    </div>
    <div class="col-2">
        <div class="card">
            <div class="banner-container">
                <img class="banner"
                     src="https://i.imgur.com/dlDKzA2.png"
                     alt="error">
            </div>
        </div>
        <div class="card">
            <div class="vertical-menu">
                <h2 class="movie_today">Количество залов : {{ halls.count }}</h2>
                {#                <a href="{% url 'movies_list' %}">Афиша</a>#}
                {% for hall in halls %}
                    <a href="{% url 'cinema_site:hall_description' cinema.slug hall.hall_number %}"
                       class="">Зал {{ hall.hall_number }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="card">
            <div class="vertical-menu">
                <h2 class="movie_today">Смотрите сегодня:</h2>
                {#                <a href="{% url 'movies_list' %}">Афиша</a>#}
                {% for seance in seances %}
                    <a href="#" class="">{{ seance.movie.title }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="card">
            <div class="banner-container">
                <img class="banner"
                     src="https://i.imgur.com/dlDKzA2.png"
                     alt="error">
            </div>
        </div>

    </div>

    <div style="background-color: #e0edf6; padding-bottom: 3px; display: flex;" class="col-8">
        <div class="main-body" style="padding: 0; margin-left: auto; margin-right: auto;">
            <div style="padding: 10px; width: 100%; " class="card">
                <h1 class="movie_today">Кинотеатр {{ cinema.name }}</h1>
                <p style="font-size: 20px">{{ cinema.description }}
                </p>
                <div style="font-size: 20px" class="movie-page-block__desc">
                    <p><strong>Не забувай про маску.</strong></p>
                    <p>{{ cinema.conditions }}</p>
                </div>
                <div class="card">
                    <div class="banner-container">
                        <img class="banner"
                             src="https://i.imgur.com/JnusRtQ.png"
                             alt="error">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 20px"></div>


{% endblock %}
