{% extends "cinema_site/elements/base.html" %}
{% load static %}

{% block title %}
    Фильм
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cinema_site/assets/css/events_and_discounts.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid">

    <div class="row">

    <div class="col-12">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="box">
                <img src="https://wallpaperaccess.com/full/2000126.jpg" alt="">
            </div>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-2">
                </div>
                <div style="background-color: #e0edf6; padding-bottom: 3px" class="col-6">
                    <div style="padding-top: 14px;" class="row movie_today">
                        <div style="padding: 25px;" class="card row">
                            <h2 class="movie_today">Акции и Скидки</h2>
                            <table>
                                <tr>
                                    <td>
                                        <div class="collection">
                                            <a class="image-should-set image-set" href="/">
                                                <img width="530"
                                                     height="300"
                                                     src="https://thumbnails.moviemania.io/phone/movie/299534/83092a/236x420.jpg"
                                                     alt="">
                                                <div class="info-overlay">
                                                    <div class="info-overlay">Ночные цены на все сеансы.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="collection">
                                            <a class="image-should-set image-set" href="/">
                                                <img width="530"
                                                     height="300"
                                                     src="https://thumbnails.moviemania.io/phone/movie/299534/83092a/236x420.jpg"
                                                     alt="">
                                                <div class="info-overlay">
                                                    <div class="info-overlay">В день рождения дарим билет.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="collection">
                                            <a class="image-should-set image-set" href="/">
                                                <img width="530"
                                                     height="300"
                                                     src="https://thumbnails.moviemania.io/phone/movie/299534/83092a/236x420.jpg"
                                                     alt="">
                                                <div class="info-overlay">
                                                    <div class="info-overlay">Скидки для студентов.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="collection">
                                            <a class="image-should-set image-set" href="/">
                                                <img width="530"
                                                     height="300"
                                                     src="https://thumbnails.moviemania.io/phone/movie/299534/83092a/236x420.jpg"
                                                     alt="">
                                                <div class="info-overlay">
                                                    <div class="info-overlay">День зрителя.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="collection">
                                            <a class="image-should-set image-set" href="/">
                                                <img width="530"
                                                     height="300"
                                                     src="https://thumbnails.moviemania.io/phone/movie/299534/83092a/236x420.jpg"
                                                     alt="">
                                                <div class="info-overlay">
                                                    <div class="info-overlay">Бесплатная кола.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="collection">
                                            <a class="image-should-set image-set" href="/">
                                                <img width="530"
                                                     height="300"
                                                     src="https://thumbnails.moviemania.io/phone/movie/299534/83092a/236x420.jpg"
                                                     alt="">
                                                <div class="info-overlay">
                                                    <div class="info-overlay">Акция! Бесплатный сыр.</div>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>


                        </div>
                    </div>
                </div>
                <div style="background-color: #e0edf6;" class="col-2">
                    <div class="banner-container">
                        <img class="banner"
                             src="https://s3.envato.com/files/179288362/5.jpg"
                             alt="error">
                    </div>
                </div>
                <div class="col-2">
                </div>
            </div>
        </div>
    </div>


{% endblock %}
