{% extends "cinema_site/elements/base.html" %}
{% load static %}

{% block title %}
    Афиша - Фильмы - Кинотеатр АнтиФлекс-9D.
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cinema_site/assets/css/movies_list.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div style="background-color: #e0edf6" class="row">

            <div class="col-md-2">
                <nav>
                    <div class="vertical-menu nav" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                           aria-controls="nav-home" aria-selected="true">Афиша</a>
                        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                           aria-controls="nav-profile" aria-selected="false">Скоро</a>
                    </div>
                </nav>

                <div class="banner-container">
                    <img class="banner"
                         src="https://s3.envato.com/files/179288362/5.jpg"
                         alt="error">
                </div>

            </div>
            <div class="col-md-8">


                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                        <div style="padding-top: 14px;" class="row movie_today">
                            {% for movie in object_list %}
                                <div class="collection col-3">
                                    <a class="image-should-set image-set"
                                       href="{% url 'cinema_site:movie_description' movie.slug %}">
                                        <img style="width: 100%; height: auto"
                                             src="{{ movie.poster.url }}"
                                             alt="sfsa">
                                        <div class="info-overlay">
                                            <div class="title info-overlay">{{ movie.title }}</div>
                                        </div>
                                    </a>
                                    <div class="buy-button">
                                        <a class="btn btn-success buy-ticket" href="{% url 'cinema_site:movies_schedule' %}" role="button">Купить билет</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                        <div style="padding-top: 14px;" class="row movie_today">
                            {% for movie in movie_list_soon %}
                                <div class="collection col-3">
                                    <a class="image-should-set image-set"
                                       href="{% url 'cinema_site:movie_description' movie.slug %}">
                                        <img style="width: 100%; height: auto"
                                             src="{{ movie.poster.url }}"
                                             alt="sfsa">
                                        <div class="info-overlay">
                                            <div class="title info-overlay">{{ movie.title }}</div>
                                        </div>
                                    </a>
                                    <div class="buy-button">
                                        <a class="btn btn-success buy-ticket" href="{% url 'cinema_site:movies_schedule' %}" role="button">Купить билет</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-2">

                <div class="banner-container">
                    <img class="banner"
                         src="https://s3.envato.com/files/179288362/5.jpg"
                         alt="error">
                </div>
            </div>

        </div>
    </div>


{% endblock %}
