{% extends "cinema_site/elements/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    Расписание Сеансов
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cinema_site/assets/css/movies_schedule.css' %}?{% now 'U' %}">

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="http://datatables.net/download/build/nightly/jquery.dataTables.css" rel="stylesheet" type="text/css"/>
    <script src="http://datatables.net/download/build/nightly/jquery.dataTables.js"></script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2 d-none d-xl-block">
            <div class="banner-container">
                <img class="banner"
                     src="https://s3.envato.com/files/179288362/5.jpg"
                     alt="error">
            </div>
        </div>

        <div style="background-color: #e0edf6" class="col-8">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-3">
                        <form action="" style="padding-top: 20px">
                            <div class="card">
                                <article class="card-group-item">
                                    <header class="card-header">
                                        <h6 class="title">Показывать только: </h6>
                                    </header>
                                    <div class="filter-content">
                                        <div class="card-body">
                                            <form>
                                                <label class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="2d"
                                                           checked>
                                                    <span class="form-check-label">2D</span>
                                                </label> <!-- form-check.// -->
                                                <label class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="3d"
                                                           checked>
                                                    <span class="form-check-label">3D</span>
                                                </label>  <!-- form-check.// -->
                                                <label class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="imax"
                                                           checked>
                                                    <span class="form-check-label">IMAX</span>
                                                </label>  <!-- form-check.// -->
                                            </form>

                                        </div> <!-- card-body.// -->
                                    </div>
                                </article> <!-- card-group-item.// -->

                                <article class="card-group-item">
                                    <header class="card-header">
                                        <h6 class="title">Кинотеатр </h6>
                                    </header>
                                    <div class="filter-content">
                                        <div class="card-body cinema-checkboxes">

                                            {% for cinema in cinema_list %}
                                                <label class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadio"
                                                           value="{{ cinema.slug }}" id="cinema{{ forloop.counter0 }}">
                                                    <span class="form-check-label">{{ cinema.name }}</span>
                                                </label>
                                            {% endfor %}

                                        </div> <!-- card-body.// -->
                                    </div>
                                </article> <!-- card-group-item.// -->
                            </div> <!-- card.// -->
                        </form>
                    </div>

                    <div class="col-9">

                        <div class="table-container">
                            <div class="schedule-text">
                                <h1>Расписание</h1>
                            </div>

                            <table class="table schedule-table">
                                <thead>
                                <tr>
                                    <th scope="col">Время</th>
                                    <th scope="col">Фильм</th>
                                    <th scope="col">Зал</th>
                                    <th scope="col">Цена</th>
                                    <th scope="col">Бронировать</th>
                                </tr>
                                </thead>
                                <tbody class="tbody-content">

                                {% language 'ru' %}
                                    {% for seance in seance_list %}
                                        <tr>
                                            <td>{{ seance.time|time:'H:i -' }}{{ seance.time|date:' d M' }}</td>
                                            <td>{{ seance.movie.title }}</td>
                                            <td>{{ seance.hall.hall_number }}</td>
                                            <td>{{ seance.price }}</td>
                                            <td>link</td>
                                        </tr>
                                    {% endfor %}
                                {% endlanguage %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 d-none d-xl-block">
            <div class="banner-container">
                <img class="banner"
                     src="https://s3.envato.com/files/179288362/5.jpg"
                     alt="error">
            </div>
        </div>
    </div>

    <script>
        function render(response) {
            const listedItems = response.response
            alert(listedItems.value)
        }

        const send_ajax = function (statuses) {
            const form_data = new FormData()
            var cinema_labels = $('.cinema-checkboxes label input')

            form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            form_data.append('status_2d', statuses[0])
            form_data.append('status_3d', statuses[1])
            form_data.append('status_imax', statuses[2])

            for (let i = 0; i < cinema_labels.length; i++) {
                var cinema = cinema_labels[i].getAttribute('value')
                const cinema_status = cinema_labels[i].checked;
                form_data.append(cinema, cinema_status)
            }

            $.ajax({
                type: 'POST',
                url: '',
                enctype: 'multipart/form-data',
                data: form_data,
                success: function (data) {
                    console.log(data)
                    const myArr = data;

                    myArr.sort(function (obj1, obj2) {
                        return obj1.fields.time - obj2.fields.time;
                    });

                    let user_html = '<tr>'

                    for (var i = 0; i < myArr.length; i++) {
                        var obj = myArr[i];
                        for (var key in obj.fields) {
                            var value = obj.fields[key];
                            user_html = user_html + '<td>' + value + '</td>'
                        }
                        user_html = user_html + '<td>' + 'link' + '<td>' + '</tr>'
                    }

                    $('.tbody-content').html(user_html);

                },
                error: function (response) {
                    console.log(response);
                    const sText = 'error ${response}'
                },
                cache: false,
                contentType: false,
                processData: false,
            });
        }

        $(document).ready(function () {

            $('form').change(function () {
                const status_2d = $('#2d').prop('checked');
                const status_3d = $('#3d').prop('checked');
                const status_imax = $('#imax').prop('checked');
                const statuses = [status_2d, status_3d, status_imax];
                send_ajax(statuses);
            })
        })
    </script>

{% endblock %}


