{% extends "cinema_site/elements/base.html" %}
{% load static %}

{% block title %}
    Вип зал
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cinema_site/assets/css/standard.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
{% endblock %}

{% block content %}

    <div class="container">
        <div style="background-color: #e0edf6">
            <div class="box"
                 style=" position: relative; height:300px; overflow: hidden; object-fit: cover; vertical-align: middle">
                <img src="{{ page.banner.url }}" alt="" style="width: 100%;height: auto;overflow: hidden;
                position: absolute;top: 0;bottom: 0;margin: auto;">
            </div>
            <div class="row">
                <div class="col-10">
                    <div style="padding-left: 66px; padding-right: 66px" class="card">
                        <h1 class="movie_today"
                            style="text-align: center; padding-top: 15px">{{ page.title }}</h1>
                        <p style="font-size: 20px">{{ page.description|safe }}
                        </p>

                        {% if images %}
                            <div class="lightbox-gallery">
                                <div class="container">
                                    <div class="intro">
                                        <h2 class="text-center" style="color: black">Галлерея</h2>
                                    </div>
                                    <div class="row photos">

                                        {% for image in images %}
                                            <div class="col-sm-6 col-md-4 col-lg-3 item">
                                                <a href="{{ image.image.url }}" data-lightbox="photos">
                                                    <img class="img-fluid" src="{{ image.image.url }}"></a></div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>

                <div class="col-2">
                    <img class="" style="width: 80%; display: flex; justify-content: center; padding-top: 23px"
                         src="https://s3.envato.com/files/179288362/5.jpg"
                         alt="error">
                    <img style="width: 80%; display: flex; justify-content: center; padding-top: 20px; padding-bottom: 10px"
                         src="https://i.imgur.com/dlDKzA2.png" alt="error">
                </div>

            </div>


        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

{% endblock %}