{% extends "movie_site/elements/base.html" %}
{% load static %}

{% block title %}
    Расписание Сеансов
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'movie_site/assets/css/schedule.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div style="background-color: #e0edf6" class="row">
            <div class="col-2">
                hi
            </div>
            <div class="col-8">
                <div class="table-container">
                    <div class="schedule-text">
                        <h1>Расписание</h1>
                    </div>

                    <table class="table schedule-table">
                        <thead>
                        <tr>
                            <th scope="col">Время</th>
                            <th scope="col">Фильм</th>
                            <th scope="col">Зал</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Бронировать</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>


                    <div class="content-footer">
                        <p>
                            Page © - 2016 <br>
                            Powered By <a href="https://www.facebook.com/tavo.qiqe.lucero"
                                          target="_blank">TavoQiqe</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="banner-container">
                    <img class="banner"
                         src="https://s3.envato.com/files/179288362/5.jpg"
                         alt="error">
                </div>
            </div>

        </div>
    </div>
{% endblock %}
