{% extends "cinema_site/elements/base.html" %}
{% load static %}

{% block title %}
    Детская
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'profiles/assets/css/user_profile.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.bootstrap-v4.min.css">
{% endblock %}

{% block content %}

    <div class="container">
        <div style="background-color: #f0f9ff">
            <div class="col-12">
                <div class="row">
                    <div class="box">
                        <img src="https://i.imgur.com/lefo3pU.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="container">
                    <form method="post" novalidate autocomplete="off">
                        <h2 class="text-center"><strong>User</strong> Profile</h2>
                        {% csrf_token %}

                        <table class="data_table" style="width:90%; margin: 0 auto;">

                            {% for field in form %}
                                <div class="form-group">
                                    {% if forloop.counter|divisibleby:2 %}
                                    {% else %}
                                        <tr>
                                    {% endif %}

                                    <td class="data_element">
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.label }}: {{ field }}</td>

                                    {% if forloop.counter|divisibleby:2 %}
                                        </tr>
                                    {% else %}
                                    {% endif %}

                                </div>
                            {% endfor %}

                        </table>

                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                        <div class="row" style="display: flex; justify-content: center;">
                            <div class="form-group" style="padding-bottom: 10px; padding-right: 10px">
                                <button class="btn btn-primary btn-primary" type="submit">Изменить</button>
                            </div>
                            <a href="{% url 'profiles:logout' %}">
                                <button class="btn btn-primary btn-warning" type="button">Выйти</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.2.620/js/kendo.all.min.js"></script>
    <script>
        $('#id_birthday').kendoDatePicker({
            start: 'decade',
            depth: 'day',
            max: new Date(),
            min: new Date(1900, 01, 01)
        })
    </script>

{% endblock %}
