{% extends "admin_lte/elements/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    AdminLTE 3 | Страница
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cinema_site/assets/css/close_statement.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 class="m-0" style="text-align: center">Рекламные баннеры</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <!-- /.card-body -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Размер 1000x190</h3>
                    </div>

                    <!-- /.card-header -->
                    <div class="col-sm-12"
                         style="display: block; margin-left: auto;margin-right: auto;text-align: justify;">
                        <!-- form start -->
                        <form method="POST" id="quickForm" novalidate="novalidate" enctype="multipart/form-data"
                              novalidate style="display: inline-block;">
                            {% csrf_token %}

                            <div class="form-group">
                                <div style="padding-left: 60; padding-top: 30px;"
                                     class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    {#                            <input type="checkbox" class="custom-control-input" id="customSwitch3" name="switcher">#}
                                    {{ image_form.top_banners_is_active }}
                                    <label class="custom-control-label" for="customSwitch3">Статус карусели</label>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">

                                    <div id="form_set" class="row">

                                        {{ formset.management_form }}
                                        {% for form in formset.forms %}
                                            <div class="col-md-2 col-sm-4" style="display: inline-block; padding:5px;">
                                                <a href="{% url 'admin_lte:banner_delete' form.instance.id %}"
                                                   class="close"></a>
                                                <img class="profile-user-img img-fluid"
                                                     style="width: 100%;"
                                                     src="{{ form.instance.image.url }}"
                                                     alt="picture">
                                                <table class='no_error'>
                                                    {{ form|crispy }}
                                                </table>
                                            </div>
                                        {% endfor %}

                                    </div>
                                    <input type="button" value="Add More" id="add_more">


                                    <div id="empty_form" style="display:none">
                                        <div class="col-md-2 col-sm-4" style="display: inline-block">
                                            <img class="profile-user-img img-fluid"
                                                 style="width: 100%;"
                                                 src="https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png"
                                                 alt="picture">
                                            <table class='no_error'>
                                                {{ formset.empty_form|crispy }}
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Content Header (Page header) -->
                            <div class="content-header">
                                <div class="container-fluid">
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <h1 class="m-0" style="text-align: center">Сквозной баннер на заднем
                                                фоне</h1>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </div><!-- /.container-fluid -->
                            </div>
                            <!-- /.content-header -->

                            <!-- /.card-body -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Размер 2000x3000</h3>
                                </div>
                                <!-- /.card-header -->

                                <!-- form start -->
                                <div class="card-body">
                                    <div class="row">
                                        <div style="padding-right: 16px">
                                            {{ image_form.bg_format }}
                                        </div>

                                        <div class="parent" style="height:200px; width:200px;">

                                            {% if current_image.image.url != '' %}
                                                <img style="height: 200px; width: 200px; border: 1px solid black;"
                                                     src="{{ current_image.image.url }}" alt="error">
                                            {% else %}
                                                <img style="height: 200px; width: 200px; border: 1px solid black;"
                                                     src="https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png"
                                                     alt="error">
                                            {% endif %}
                                            <a href="{% url 'admin_lte:bg_delete' current_image.id %}"
                                               class="close"></a>

                                        </div>

                                        {{ image_form.image }}
                                    </div>
                                </div>

                                <!-- form end -->
                            </div>
                            <div class="card-footer" style="text-align: center">
                                <button type="submit" style="" class="btn btn-primary">Сохранить</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.Main content -->

    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block scripts %}
    <!-- jQuery -->
    <script src="{% static 'admin_lte/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'admin_lte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'admin_lte/assets/js/adminlte.min.js' %}"></script>
    <!-- 'Add new form' button handler -->
    <script src="{% static 'admin_lte/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <script>
        $('#add_more').click(function () {
            const form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            form_idx.eq(parseInt(form_idx) + 1);
        });
        $('#add_more2').click(function () {
            const form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            form_idx.eq(parseInt(form_idx) + 1);
        });
    </script>
{% endblock %}
