{% extends "admin_lte/elements/base.html" %}
{% load static %}

{% block title %}
    AdminLTE 3 | Starter
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'cinema_site/assets/css/close_statement.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 class="m-0" style="text-align: center">Список кинотеатров</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content" style="padding-left: 100px; padding-right: 100px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="card card-success" style="margin: auto;">
                        <div class="card-body">
                            <div style="padding-bottom: 16px;display: flex;justify-content: right;">
                                <a href="{% url 'admin_lte:cinema_create' %}">
                                    <button type="button" class="btn btn-block btn-info">
                                        Добавить кинотеатр
                                    </button>
                                </a>
                            </div>
                            <div class="row" style="margin: auto;">

                                {% for cinema in object_list %}
                                    <div class="col-md-12 col-lg-6 col-xl-3" style="padding:20px;">
                                        <div class="card mb-2 bg-gradient-dark">
                                            <div class="parent">
                                                <a href="{% url 'admin_lte:cinema_description' cinema.slug %}">
                                                    <img class="card-img-top" style="width: 100%; height: 300px;"
                                                         src="{{ cinema.banner.url }}"
                                                         alt="Dist Photo 1">
                                                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                        <div>
                                                            <h5 style="background-color: rgba(0,0,0,0.84); font-weight:
                                                            bold"
                                                                class="card-title text-primary
                                                            text-white">{{ cinema.name }}</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="{% url 'admin_lte:cinema_delete' cinema.slug %}"
                                                   class="close"></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block scripts %}
    <!-- jQuery -->
    <script src="{% static 'admin_lte/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'admin_lte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'admin_lte/assets/js/adminlte.min.js' %}"></script>
{% endblock %}
