{% extends "admin_lte/elements/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    AdminLTE 3 | Starter
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card card-primary" style="width: 60%; align-content: center; margin: auto;">
                        <div style="display: flex; justify-content: center;" class="card-header">
                            <h3 class="card-title">E-mail рассылка</h3>
                        </div>

                        <form method="POST" id="quickForm" novalidate="novalidate" enctype="multipart/form-data"
                              novalidate>
                            {% csrf_token %}
                            <div class="card-body">
                                {% for error in mailing_form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}



                                <!-- row -->
                                <div class="row">

                                    <div class="col-6">

                                        <!-- users_choice_type -->
                                        {% if mailing_form.users_choice_type.errors %}
                                            {% for error in mailing_form.users_choice_type.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="form-group mb-2">
                                            <strong>{{ mailing_form.users_choice_type.label_tag }}</strong>
                                            <div>{{ mailing_form.users_choice_type }}</div>
                                        </div>
                                        <!-- users_choice_type -->

                                        <!-- html_letter -->
                                        {% if mailing_form.file.errors %}
                                            {% for error in mailing_form.file.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <label for="fileid">Загрузить HTML-письмо:</label>
                                        <input id='fileid' type='file' hidden/>
                                        <input id='button_id' type='button' value='Загрузить'/>
                                        <p>Загружен файл: <strong id="fileName">-</strong></p>
                                        <p>Шаблон используемый в текущей рассылке: <strong id="fileCurrent">-</strong></p>

                                    <p>Кол-во писем: 412215</p>
                                    <p>Рассылка выполнена на: 45%</p>


                                        <!-- html_letter -->
                                        <div class="form-group mb-2">
                                            <strong>{{ mailing_form.text_field.label_tag }}</strong>
                                            {{ mailing_form.text_field }}
                                        </div>


                                    </div>

                                    <div class="col-6">

                                        <!-- Modal -->
                                        <div class="container">
                                            <!-- Trigger the modal with a button -->
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#myModal">Выбрать пользователей
                                            </button>


                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                &times;
                                                            </button>
                                                            <h4 class="modal-title">Close</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Some text in the modal.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal -->

                                    </div>

                                </div>
                                <!-- row end -->


                                <div class="card-footer" style="display: flex; justify-content: center;">
                                    <button type="submit" class="btn btn-primary">Начать рассылку</button>
                                </div>
                            </div>
                        </form>
                        <!-- form end -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block scripts %}
    <!-- jQuery -->
    <script src="{% static 'admin_lte/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'admin_lte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'admin_lte/assets/js/adminlte.min.js' %}"></script>
    <!-- 'Add new form' button handler -->
    <script>$('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })</script>
    <script>
        document.getElementById('button_id').addEventListener('click', openDialog);

        function openDialog() {
            document.getElementById('fileid').click();
        }
    </script>
    <script>
        const files = document.getElementById('fileid');
        const message = document.getElementById('fileName');
        files.addEventListener("change", function () {
            if (files.files.length >= 0) {
                message.innerHTML = files.files[0].name;
            }
        });
    </script>
{% endblock %}
